
{%extends "home/base.html"%}
{%load static%}
{%block content%}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<style>


  .module-heading{
    font-family: Roboto ;
    font-size: 50px;
    color: #4A55A2 !important;  
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading{
    margin-top: 60px;
    color: #4A55A2 !important;  
  }

  .sub-desc{
    margin-bottom: 30px;
    color: #7895CB !important;  
  }

 .end-blank{
  margin-bottom: 50px;
 }


 .subscribe{
        background-color: #4A55A2;
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 1s;
    }

    .subscribe:hover{
        opacity: 0.8;
    }

    .subscribe:active{
         opacity: 0.3;
    }

    .prompt{
        /* margin-bottom: 30px; */
    color: #7895CB !important; 

    }
  


</style>



  <h1 class="module-heading">
     FinSage Connect
   </h1>
   <p></p>
   <img src="{% static 'elementary/laptopimg.jpg' %}" width="40%" class="img-fluid mx-auto d-block">

   <p class="sub-desc">
    FinSage Connect is a monthly financial advisory meeting by professionals from various finance domains. 
    The platform allows you to subscribe to the service and have a one-on-one discussion with financial advisors. 
    
    
    <p>
        FinSage also aims to push people lacking facilities towards financial resources and services towards a more aware being. 
        To target this, we avail the first three sessions free and the rest paid at the user's discretion! 
        These communities include but are not limited to women and minorities such as ST/SC, PwD, LGBTQIA+ etc. 
        People from rural areas can also avail of these services as we focus on diversifying the financially literate 
        population of India. A meet link will be shared to your registered email address as and when the meet is scheduled.
    </p>

   </p>

   <p></p>
   <p class="prompt">Subscribe to the connect now!</p>

   <button class="subscribe" >
    SUBSCRIBE
</button>








{%endblock content%}