
{%extends "home/base.html"%}
{%load static%}
{%block content%}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>

    .row{
        margin-bottom: 50px;
    }

    .card-body{
        height: 450px;
        width: 600px;
    
        
    }

.card-title{
    font-family: Roboto ;
    font-size: 20px;
    color: #4A55A2 !important;  
    font-weight: bold;
}



.card-text{
    font-family: Arial;
    color: #7895CB;
    width: fit-content;
    overflow-wrap: break-word
}






.videos, .videos iframe {
    width: 94%;
    }

 .empty-blank{
 margin-bottom: 35px;
}
</style>




<div class="empty-blank"><h2 style="color: #4A55A2;">Elementary Concepts</h2></div>
<div class="row">

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">How to open a bank account?</h5>
            <p class="card-text">Opening a bank account is easier than it appears!</p>
            <div class="videos">
                <iframe width="400" height="300" src="https://www.youtube.com/embed/VAUuYRxFFS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How to withdraw money from an ATM?</h5>
          <p class="card-text">A step-by-step guide on how to withdraw money from your bank account!</p>
          <div class="videos">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/HX_qzGk7FaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
    
  </div>



  <div class="row">


    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Saving and it's importance</h5>
            <p class="card-text">Savings helps you differentiate need and want!</p>
            <div class="videos">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JqYoLQXO7j4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How to start using UPI?</h5>
          <p class="card-text">Learn how to use the UPI platform and make your payments cashfree!</p>
          <div class="videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JBncN3elbPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
    
  </div>




  
  <div class="row">


    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">How to write a cheque?</h5>
            <p class="card-text">Learn to write a cheque instantly with this module!</p>
            <div class="videos">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/l28xQcPn5ok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Difference between credit cards and debit cards</h5>
          <p class="card-text">Credit v/s Debit made simple!</p>
          <div class="videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QvPCpmq1Gbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
    
  </div>



  {%endblock content%}