{%extends "home/base.html"%}
{%block content%}

 
    <h1>About us!</h1> 
    <div class="mt-4">
    <p>
       
We are a team of motivated individuals who aim to bring positive change through healthy teamwork and collaboration. 
Harnessing the power of <i>technology</i> and <i>knowledge</i>, we have built a web application to solve the challenge of lack of financial literacy for women and youth in urban and rural India. 

    </p>
    <p>
    Targeting not just the tech-savvy population but also minorities, <b>FinSage</b> 
allows users to increase their financial literacy through modules and further collaborations with 
individuals with financial acumen and a drive to change the world through technology.

    </p>
   
    </div>
{%endblock content%}