{%extends "home/base.html"%}
{%load static%}
{%block content%}
    <img src="{% static 'home/finlit.png' %}" width="50%" class="img-fluid mx-auto d-block" alt="FinLIT">
    <div class="mt-5">
        <p>
         <b> FinSage </b> is a digital tool designed to educate and empower individuals with the knowledge and skills necessary to make informed decisions about their personal finances.  Termed as financial literacy, we cover a wide range of topics related to money management, budgeting, saving, investing, debt management, retirement planning, and more. The goal of such applications is to improve people's financial well-being by providing accessible and actionable information. 

        </p>

        <img src="{% static 'home/main_logo_png.png' %}" width="40%" class="img-fluid mx-auto d-block" alt="Logo">
        <p>
          Above this, FinSage aims to bring the world of digital currency and its knowledge closer to the people of every community. Enabled by video lectures from financial experts, our customers are able to understand the world of finances. The platform also acts as an edtech means for people to earn knowledge and certifications. We recommend users with topics based on their literacy domain and aim to empower the minorities as we connect them to financial advisors and enable a few free sessions.

              
        </p>

        <p>Explore the world of financial literacy!</p>
    </div>
    <div class="pb-5">
        <p>
            <!-- <b><i>Cipher Craft</i></b> also offers a range of various Problems and Ciphers periodically as PoTD (Problem of the Day) and CoTM (Cipher of the Month) which are exclusive to our registered members only!
            <a href="{% url 'user_register'%}">
                Sign Up Now!
            </a> -->
        </p>
    </div>

    <footer class="text-center text-lg-start text-muted">
        <!-- Section: Social media -->
        <section class="d-flex mt-5 justify-content-center justify-content-lg-between p-4 border-bottom border-top bodcol">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  FinSage
                </h6>
                <p>
                  FinLit made easy!
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#" class="text-reset">Elementry</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Modules</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Recommendations</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="https://discord.gg/38aRbavT42" class="text-reset">Discord</a>
                </p>
                <p>
                  <a href="#" class="text-reset">Support Us</a>
                </p>
                <p>
                  <a href="{%url 'faqs_page'%}" class="text-reset">FAQs</a>
                </p>
                <p>
                  <a href="{%url 'feedback_page'%}" class="text-reset">Report/Feedback</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Thapar Institute of Engineering and Technology</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  connect.finsage@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> +91 98141 42270</p>
                <p><i class="fas fa-phone me-3"></i> +91 80549 76689</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright:
          <a class="text-reset fw-bold" href="#">FinSage.xyz</a>
        </div>
        <!-- Copyright -->
      </footer>
{%endblock content%}