{%extends "home/base.html"%}
{%load static%}
{%block content%}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<style>


  .module-heading{
    font-family: Roboto ;
    font-size: 50px;
    color: #4A55A2 !important;  
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading{
    margin-top: 60px;
    color: #4A55A2 !important;  
  }

  .sub-desc{
    margin-bottom: 30px;
    color: #7895CB !important;  
  }

 .end-blank{
  margin-bottom: 50px;
 }

  


</style>



  <h1 class="module-heading">
     Budgeting
   </h1>



   <h4 class="sub-heading">What is a budget?</h4>

   <p class="sub-desc">
    A budget is a plan for how you will spend your money. It helps you track your income and expenses, ensuring you are not spending more than what you earn. 
    Budgeting can help you save money, reach your financial goals, and avoid debt.

   </p>



    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CbhjhWleKGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
  

  
  <h4 class="sub-heading">Importance of budgeting</h4>

  <p class="sub-desc">
    Budgeting is essential as it helps you track your income, expenses, save your money and reach your financial goals. 


  </p>



   <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/j1Vwth0B8I8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>








   
   <h4 class="sub-heading">50-30-20 rule</h4>

   <p class="sub-desc">
    The 50-30-20 rule is a budgeting guideline that suggests dividing your after-tax income into three categories: 50% for needs, 30% for wants and 20% for savings.

   </p>



    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HQzoZfc3GwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="end-blank">

    </div>
  {%endblock content%}