{%extends "home/base.html"%}
{%load static%}
{%block content%}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<style>


  .module-heading{
    font-family: Roboto ;
    font-size: 50px;
    color: #4A55A2 !important;  
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading{
    margin-top: 60px;
    color: #4A55A2 !important;  
  }

  .sub-desc{
    margin-bottom: 30px;
    color: #7895CB !important;  
  }

 .end-blank{
  margin-bottom: 50px;
 }

  


</style>



  <h1 class="module-heading">
    Digital Payments
   </h1>



   <h4 class="sub-heading">What are digital payments?</h4>

   <p class="sub-desc">
    Digital payments are financial transactions that are conducted electronically, without the physical exchange of cash or checks. Digital payments can be made using a variety of methods, including credit cards, debit cards, mobile wallets, and online banking.
   </p>



    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hUFpmmn2nwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
  

  
  <h4 class="sub-heading">Unified Payments Interface (UPI)</h4>

  <p class="sub-desc">
    UPI is a real-time payment system developed by the National Payments Corporation of India (NPCI). It allows users to make instant payments to anyone with a bank account in India, using just their mobile phone number or UPI ID. 
    UPI is the most popular digital payment method in India, with over 2 billion transactions processed in 2022.
  </p>



   <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/z59cTIpzOrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>








   
   <h4 class="sub-heading">Mobile wallets</h4>

   <p class="sub-desc">
    Mobile wallets are digital wallets that store your money and allow you to make payments using your mobile phone. Some popular mobile wallets in India include Paytm, Google Pay, and PhonePe. Mobile wallets are a convenient way to make payments for online and offline purchases.
   </p>



    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/S_Im0Yrltkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="end-blank">

    </div>
  {%endblock content%}