{%extends "home/base.html"%} {%load static%} {%block content%}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>

<style>
  .module-heading {
    font-family: Roboto;
    font-size: 50px;
    color: #4a55a2 !important;
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading {
    margin-top: 60px;
    color: #4a55a2 !important;
  }

  .sub-desc {
    margin-bottom: 30px;
    color: #7895cb !important;
  }

  .end-blank {
    margin-bottom: 50px;
  }
</style>

<h1 class="module-heading">Private Equity</h1>

<h4 class="sub-heading">Understanding private equity</h4>

<p class="sub-desc">
  Private equity is a type of investment that involves buying and investing in
  private companies. Private companies are companies that are not traded on
  public stock exchanges. This means that their shares are not available to the
  general public.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/tbRkdm80cFs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<h4 class="sub-heading">Private equity fund structure</h4>

<p class="sub-desc">
  A private equity fund is a type of investment fund that invests in private
  companies. It is typically structured as a limited partnership, with the
  general partner (GP) managing the fund and the limited partners (LPs)
  providing the capital. The GP is responsible for making investment decisions
  and managing the fund's portfolio, while the LPs are passive investors who do
  not have any control over the fund's operations.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/QyAxMOPA7Z0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<div class="end-blank"></div>
{%endblock content%}
