{%extends "home/base.html"%}
{%load static%}
{%block content%}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<style>


  .module-heading{
    font-family: Roboto ;
    font-size: 50px;
    color: #4A55A2 !important;  
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading{
    margin-top: 60px;
    color: #4A55A2 !important;  
  }

  .sub-desc{
    margin-bottom: 30px;
    color: #7895CB !important;  
  }

 .end-blank{
  margin-bottom: 50px;
 }

  


</style>



  <h1 class="module-heading">
     Interest in Finance
   </h1>



   <h4 class="sub-heading">Introduction to interest</h4>

   <p class="sub-desc">
    Interest is the return earned on an investment When you invest money, you are essentially lending your money to a company or government in the hope that they will pay you back with interest. The interest rate you earn on your investment is also called the yield.

   </p>



    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GtaoP0skPWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
  

  
  <h4 class="sub-heading">Simple Interest</h4>

  <p class="sub-desc">
    Simple interest is a type of interest that is calculated as a percentage of the principal amount of a loan or investment, and it is not compounded over time. This means that the interest you earn each year is based on the original principal amount, plus the interest you earned in previous years.
  </p>

   <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vIPhIi9KzAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>








   
   <h4 class="sub-heading">Compound interest</h4>

   <p class="sub-desc">
    Compound interest is a type of interest that is calculated on the principal amount of a loan or investment, plus the interest that has already accrued. This means that the interest you earn each year is based on the original principal amount, plus the interest you earned in previous years.
   </p>



    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lNK95khKvSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    <div class="end-blank">

    </div>
  {%endblock content%}