{%extends "home/base.html"%} {%load static%} {%block content%}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>

<style>
  .module-heading {
    font-family: Roboto;
    font-size: 50px;
    color: #4a55a2 !important;
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading {
    margin-top: 60px;
    color: #4a55a2 !important;
  }

  .sub-desc {
    margin-bottom: 30px;
    color: #7895cb !important;
  }

  .end-blank {
    margin-bottom: 30px;
  }
</style>

<h1 class="module-heading">Retirement Planning</h1>

<h4 class="sub-heading">How to plan for retirement?</h4>

<p class="sub-desc">
  Retirement planning is the process of ensuring that you have enough money to
  live comfortably after you retire. It is important to start planning for
  retirement early, as the earlier you start, the more time your money has to
  grow.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/3N6xlCxyWKY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<h4 class="sub-heading">Types of retirement plans</h4>

<p class="sub-desc">
  Some of the retirement plans in India include govt sponsored schemes,
  employment based pension plans, EPF's,PPF's FD's etc. Saving for the future is
  important so that one can lead a relaxing life after their employment.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/b7Dl3kyEqeo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<div class="end-blank"></div>
<div>
  <h4 class="sub-heading">Related Links</h4>
  <a href="https://groww.in/calculators/retirement-calculator "
    >Retirement Calculator</a
  >
</div>
<div class="end-blank"></div>
{%endblock content%}
