{%extends "home/base.html"%}
{%load static%}
{%block content%}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<style>


  .module-heading{
    font-family: Roboto ;
    font-size: 50px;
    color: #4A55A2 !important;  
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading{
    margin-top: 60px;
    color: #4A55A2 !important;  
  }

  .sub-desc{
    margin-bottom: 30px;
    color: #7895CB !important;  
  }

 .end-blank{
  margin-bottom: 50px;
 }

  


</style>



  <h1 class="module-heading">
    Stock Market Fundamentals
   </h1>



   <h4 class="sub-heading">Introduction to Mutual Funds</h4>

   <p class="sub-desc">
    A mutual fund is a type of investment that pools money from many investors and invests it in a variety of assets, such as stocks, bonds, and money market instruments. Mutual funds are managed by professional fund managers who are responsible for selecting the investments that will be included in the fund.
   </p>



    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rsFBpGUAZWA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  
  

  
  <h4 class="sub-heading">How to start investing in the stock market?</h4>

  <p class="sub-desc">
    Joining the stock market and earning money could never be easier!


  </p>



   <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3UF0ymVdYLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>








    <div class="end-blank">

    </div>
  {%endblock content%}