{%extends "home/base.html"%} {%load static%} {%block content%}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>

<style>
  .module-heading {
    font-family: Roboto;
    font-size: 50px;
    color: #4a55a2 !important;
    margin-bottom: 40px;
    /* font-weight: bold; */
  }

  .sub-heading {
    margin-top: 60px;
    color: #4a55a2 !important;
  }

  .sub-desc {
    margin-bottom: 30px;
    color: #7895cb !important;
  }

  .end-blank {
    margin-bottom: 30px;
  }
</style>

<h1 class="module-heading">Tax Planning</h1>

<h4 class="sub-heading">What is tax planning?</h4>

<p class="sub-desc">
  Tax planning is the process of managing your finances in a way that minimizes
  your tax liability. It involves understanding the tax laws, identifying tax
  deductions and credits, and making financial decisions that will reduce your
  tax bill.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/OpvadqcHo9o"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<h4 class="sub-heading">Tax planning for salaried individuals</h4>

<p class="sub-desc">
  Tax planning for salaried individuals is the process of making investment
  decisions that will minimize your tax liability. There are a number of
  tax-deductible investments available to salaried individuals, such as the
  Employees' Provident Fund (EPF), the Public Provident Fund (PPF), and the
  National Pension System (NPS). By making wise investment choices, salaried
  individuals can save money on their taxes and build a strong financial
  foundation for the future.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/UNCQMV8RU_M"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<div class="end-blank"></div>
<div>
  <h4 class="sub-heading">Related Links</h4>
  <a href="https://groww.in/calculators/income-tax-calculator "
    >Income Tax Calculator</a
  >
</div>
<div class="end-blank"></div>
{%endblock content%}
